<%= form_with model: @event do |form| %>
  <% if @event.errors.any? %>
    <h3>
      <%= @event.errors.count %>
      errors prohibited this post from being saved:
    </h3>
    <ol>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ol>
  <% end %>

  <div><%= form.label :title %></div>
  <%= form.text_field :title %>

  <div><%= form.label :description %></div>
  <%= form.text_area :description, placeholder: "Enter event information here" %>

  <div><%= form.label :date %></div>
  <%= form.date_field :date %>

  <div><%= form.label :location %></div>
  <%= form.text_field :location %><hr>

  <%= form.submit "Create Event" %>
<% end %>
